export OPENAI_API_KEY="op://Personal/OpenAI API Key/credential"
export GEMINI_API_KEY="op://Personal/Gemini API Key/credential"
export ANTHROPIC_API_KEY="op://Personal/Anthropic API Key/credential"
export OPENROUTER_API_KEY="op://Personal/Openrouter API Key/credential"
export GOOGLE_AI_API_KEY=GEMINI_API_KEY
