[user]
  name = Dmytro Mostovyi
  email = me@dmostovyi.com
  signingKey = ~/.ssh/id_ed25519_personal.pub
[core]
	editor = nvim
	pager = delta
[alias]
	lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
	lg-graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	s = status --short --branch
	ch = !git checkout $(git branch --sort="-committerdate" | head -n 20 | fzf) # https://gist.github.com/aweary/814cdbedf01a26290cf2852c6e9cdea7
[color]
	diff = auto
	status = auto
	branch = auto
[branch]
	autosetuprebase = always
[interactive]
	diffFilter = delta --color-only
[maintenance]
	auto = false
	strategy = incremental
[gpg]
	format = ssh
[commit]
  gpgsign = true
[blame]
	ignoreRevsFile = ~/.gitblameignore
[diff]
  algorithm = histogram
  colorMoved = true
  indentHeuristic = true
[rerere]
  enabled = true
[includeIf "gitdir:~/sift/"]
  path = ~/.gitconfig-sift

