set -gx OPENAI_API_KEY "op://Personal/OpenAI API Key/credential"
set -gx GEMINI_API_KEY "op://Personal/Gemini API Key/credential"
set -gx ANTHROPIC_API_KEY "op://Personal/Anthropic API Key/credential"
set -gx OPENROUTER_API_KEY "op://Personal/Openrouter API Key/credential"
set -gx GOOGLE_AI_API_KEY GEMINI_API_KEY
